.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: grid(6);
  align-items: start;
}
.form {
  padding: grid(8);
  border: 2px solid $navy-blue;
  border-radius: $border-radius--medium;
  background-color: $white;
  width: 100%;
}
.call {
  padding-top: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: grid(4);
  align-items: start;
}

@include md-display {
  .contactWrapper {
    flex-direction: row;
    gap: grid(12);
  }
  .call {
    position: sticky;
    top: grid(2);
    max-width: 370px;
  }
}
