.statsGrid {
  display: grid;
  gap: grid(7);
  max-width: 900px;
  margin: 0 auto;

  .statsCard {
    padding: grid(6);
    border-radius: $border-radius--medium;
    border: 1px solid $navy-blue;
    background-color: $white;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      max-width: 120px;
    }

    .description {
      margin-bottom: 0;
      font-size: $font-size--small;
    }
  }
}

@include sm-display {
  .statsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@include md-display {
  .statsGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
