.hero {
  background: linear-gradient(to right, oklch(0.97 0.014 254.604) 0%, oklch(0.809 0.105 251.813) 100%);
  padding: 80px 16px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 400px;
  height: auto;
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: slideInUp 0.6s ease-out 0s forwards;
}

.heroContent {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.heroSubtitle {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 40px;
  opacity: 0;
  animation: slideInUp 0.6s ease-out 0.2s forwards;
}


.launchDate {
  opacity: 0;
  margin-bottom: 40px;
  animation: slideInUp 0.6s ease-out 0.4s forwards;
}

.heroButton {
  opacity: 0;
  animation: slideInUp 0.6s ease-out 0.6s forwards;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}