.cards {
  display: grid;
  gap: grid(4);
  justify-items: center;

  @include sm-display {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md-display {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg-display {
    grid-template-columns: repeat(4, 1fr);
  }
}

.modal {
  .icon {
    height: 100px;
    width: auto;
    filter: brightness(0) saturate(100%) invert(59%) sepia(91%) saturate(2295%)
      hue-rotate(182deg) brightness(97%) contrast(98%);
  }
}
