.cards {
  display: grid;
  gap: grid(4);
  justify-items: center;

  @include sm-display {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md-display {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg-display {
    grid-template-columns: repeat(4, 1fr);
  }
}

.modal {
  .icon {
    height: 100px;
    width: auto;
  }
}
