.cards {
  display: grid;
  gap: grid(10);
  flex-direction: column;

  @include sm-display {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg-display {
    grid-template-columns: repeat(3, 1fr);
  }
}
