.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: grid(6);
}

.modalContent {
  background: $white;
  padding: 2rem;
  position: relative;
  border-radius: $border-radius--medium;
  max-height: 100%;
  max-width: 800px;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  *:last-child {
    margin-bottom: 0;
  }

  @include md-display {
    max-height: 80%;
  }
}

.closeButton {
  border: none;
  color: $white;
  background-color: $navy-blue;
  position: absolute;
  display: grid;
  align-items: center;
  top: 1rem;
  right: 1rem;
  padding: grid(2);
  width: grid(10);
  height: grid(10);
  cursor: pointer;
  border-radius: $border-radius--medium;

  &:hover {
    background-color: $sky-blue;
  }
}
