.inner {
  display: flex;
  position: relative;
  justify-content: space-between;

  .accordionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include lg-display {
      gap: 12px;
    }
  }

  @include lg-display {
    flex-direction: row;
    justify-content: flex-end;

    .accordionsWrapper {
      min-height: 680px;
      // min height prevent the subtle jump between the transition of accordions opening and closing
      width: calc(50% - 60px);
    }
  }
}
