.infoCard {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: $navy-blue;
  text-align: center;

  &:hover {
    .imageWrapper {
      img {
        scale: 1.1;
      }
    }
  }

  .imageWrapper {
    position: relative;
    margin-bottom: grid(3);
    overflow: hidden;
    border: 1px solid $navy-blue;
    background-color: $baby-blue;
    border-radius: $border-radius--small;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: 0.3s linear;
    }
  }

  p {
    margin-bottom: 0;
  }
}
