.button {
  transition:
    transform 0.2s linear,
    box-shadow 0.2s linear;
  font-family: $font-secondary;
  box-shadow: 0 px 0 0 $steel-blue;
  border-radius: 20px;
  padding: 14px;
  line-height: 0;

  @include md-display {
    padding: 18px;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 0 0 $steel-blue;
  }

  &:active {
    transform: translateY(-2px);
    transition-duration: 0.1s;
    box-shadow: 0 2px 0 0 $steel-blue;
  }

  &.white {
    background-color: $white;
  }

  &.lightBlue {
    background-color: $light-blue;
  }

  svg {
    width: 15px;
    height: 15px;

    @include md-display {
      width: 17px;
      height: 17px;
    }
  }
}
