.arrowLink {
  margin-top: grid(5);
  text-align: center;

  a {
    display: inline-flex;
    align-items: center;
    gap: grid(1);
  }

  svg {
    transform: rotate(-90deg);
    width: grid(4);
    height: grid(4);
  }

  &.backward {
    a {
      flex-direction: row-reverse;

      svg {
        transform: rotate(90deg);
      }
    }
  }
}
