.pillCard {
  display: flex;
  align-items: center;
  gap: grid(3);
  padding: 14px 12px 14px 24px;
  border: 2px solid $navy-blue;
  border-radius: 30px;
  background-color: $white;
  width: 100%;

  svg {
    flex-shrink: 0;
  }

  p {
    margin: 0;
    @include md-display {
      font-size: $font-size--xlarge;
      line-height: 28px;
    }
  }

  a {
    text-decoration: underline;
  }
}
