.embedContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: $border-radius--medium;
  overflow: hidden;
  border: 2px solid $navy-blue;

  .playButton {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $dark-blue;

    &:hover {
      opacity: 0.5;
    }
  }

  .placeholder,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .placeholder {
    object-fit: cover;
  }
}
