.testimonialsList {
  display: grid;
  gap: 20px;

  @include md-display {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial {
    border: 2px solid $navy-blue;
    padding: grid(12);
    border-radius: $border-radius--medium;
    background-color: $white;
    display: grid;
    margin-bottom: grid(3);

    .cite {
      margin-top: grid(4);
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: grid(3);

      @include md-display {
        margin-top: auto;
        align-items: center;
        flex-direction: row;
        gap: grid(6);
      }

      img {
        max-width: 160px;
        max-height: 50px;
        height: auto;
        width: auto;
      }

      p {
        margin: 0;
      }
    }
  }
}
