.testimonialsList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .testimonial {
    grid-column-end: span 4;
    border: 2px solid $navy-blue;
    padding: grid(12);
    border-radius: $border-radius--medium;
    background-color: $white;

    h3 {
      margin-bottom: grid(3);
    }
  }
}
