.articleSummary {
  border-radius: grid(6);
  border: 2px solid #d7d5e6;
  background-color: $cream;
  overflow: hidden;
  margin: grid(5) 0 0;
  display: none;

  @include md-display {
    display: block;
    margin: 0;
  }

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: "";
      height: 20px;
      width: 20px;
      background-size: contain;
      background-position: center center;
      transition: transform 0.15s linear;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNEw5IDEyTDE3IDQiIHN0cm9rZT0iIzM2MkU4MyIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
    }
  }

  &:hover {
    border-color: $navy-blue;
  }

  &[open] {
    padding-bottom: grid(6);

    summary:after {
      transform: rotate(-180deg);
    }
  }

  .title {
    cursor: pointer;
    font-weight: 500;
    padding: grid(4) grid(6);
  }

  .anchors {
    overflow: scroll;
    height: 35vh;
    font-size: $font-size--small;

    > li a {
      font-weight: 500;
    }
  }

  ul {
    margin: 0;
    padding-left: grid(9);
    padding-right: grid(5);
  }

  a {
    color: $navy-blue;
  }
  a:hover {
    color: $steel-blue;
    text-decoration: underline;
  }
}
