.callToAction {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: grid(8);
  }
  .content {
    p {
      font-size: $font-size--large;
    }
  }
  img {
    display: none;
    border-radius: $border-radius--small;
  }
  .buttonsContainer {
    display: flex;
    gap: grid(3);
  }

  @include md-display {
    img {
      display: block;
    }
  }
}
